#contact-me {
    padding-top: 150px;
    padding-bottom: 150px;
    width: 100%;
    text-align: center;
    background-color: #857b74;
}

#contact-header {
    color: #fff;
    padding-bottom: 15px;
}

#input-container {
    display: flex;
    justify-content: center;
}

#input-container label {
    margin: 15px;
}

#input-container input,
#input-container textarea {
    padding-top: 10px;
    padding-bottom: 10;
    height: 40px;
    width: 450px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
}

[type="text"]:focus {
    color: #fff;
    outline: none;
}

#input-container input::placeholder,
#input-container textarea::placeholder {
    color: #fff;
}

#input-container textarea {
    margin-bottom: 25px;
}
